<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href = "style.css" rel = "stylesheet" type = "text/css">
</head>
<body>
    <h2>Авторизация</h2>
    <div>
    <input type="text" id="username" name="username" placeholder="Введите имя" required><br>
    <input type="password" id="password" name="password" placeholder="Введите пароль" required><br>
    <input type="checkbox" id="isremember" name="isremember"> Запомнить пароль<br>
    <input type="button" id="enter" name="enter" value="Войти"><br>
    До сих пор нет аккаунта? <a href="www.registration.ru">Зарегистрируйся</a> здесь
    </div>
    
</body>
</html>