.body{
    background-color: white;
    height: 100%;
    width: 100%;
}
.h2{
    align-self: center;
    font-size: 50px;
    font-weight: 200;
}
.shadow{
    box-shadow: 3px 3px 3px #000000;
}
.reg{
    margin: 30px 0px 80px 0px;
}
.auth{
    margin: 80px 0px 80px 0px;
}
/* ----------------- Input forms ----------------- */
.inputAuth{
    width: 240px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #FBA806;
    background-color: rgba(255, 255, 255, 0.603);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    font-size: 30px;
    align-self: center;
    padding: 0px 18px 0px 18px;
    font-weight: 200; 
}
.inputReg{
    width: 190px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #FBA806;
    background-color: rgba(255, 255, 255, 0.603);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    font-size: 15px;
    align-self: center;
    padding: 0px 18px 0px 18px;
    font-weight: 200; 
}
.enter{
    width: 200px;
    height: 60px;
    text-transform: uppercase;
    font-size: 32px;
    color:#00bb03;
    background-color: transparent;
    border: #00bb03 3px solid;
    text-shadow: 0 0 8px #00bb03;
    box-shadow: 0 0 8px #00bb03;
    border-radius:30px;
    align-self: center;
    text-align: center;
    align-items:center;
    padding: 10px;
    margin: 0px;
}
.a1:hover{
    font-size: 24px;
}
.toRegistr{
    align-self: center;
    text-align: center;
    padding-top: 15%;
}
/* ----------------- End ----------------- */
/* ----------------- Checkbox "remember password" ----------------- */
.isremember{
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    align-self: center;
    flex-direction: 'row';
    box-shadow: 0 0 8px #FBA806;
}
.isrememtxt{
    justify-content: center;
    text-align: center;
    margin: 0px 10px 0px 0px;
    font-size: 16px;
}
.checkboxContainer{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
}
/* ----------------- End ----------------- */

/* ----------------- Temporary main menu ----------------- */
.borderForMain{
    border: #00bb03 1px solid;
    box-shadow: 0 0 8px #00bb03;
    height: 50px;
    justify-content: center;
    align-items: center;
}
/* ----------------- End ----------------- */
/* ----------------- Main menu with SearchBar ----------------- */
.searchBar{
    height: 40px;
    width: 380px;
    align-self: center;
    border-width: 1px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 50px;
 }
 .container{
    flex-direction: column;
 }
 .recipesView{
    flex-wrap: wrap;
    flex-direction: row;
 }
 .recipe{
    flex-direction: column;
    margin: 4px;
 }
 .recipeImage{
  width: 160px;
  height: 250px;
  border-radius: 25px;
  margin-bottom: 2px;
 }
 .recipeDesc{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 }
 .recipeNameContain{
    flex-direction: row;
  align-items: center;
}
.recipeName{
    font-Weight: bold;
    font-Size: 10px;
    width: 70px;
    text-Align: auto;
 }
.marginRight{
    margin-Right: 5;
}
/* ----------------- End ----------------- */