:root{
    --index: calc(1vw + 1vh);
    --transition: 1.5s cubic-bezier(0.05,0.5,0,1);
}
.body{
    background-image: url(7.png);
}
.h2{
    text-align: center;
    font-size: 50px;
}
.input{
    width: 250px;
    height: 50px;
    flex-shrink: 0; 
    border-radius: 20px;
    border: 2px solid #FBA806;
    margin-bottom: 50px;
    font-size: 45px;
}
.registration{
    width: 500px;
    height: 64px;
    flex-shrink: 0;
    text-transform: uppercase;
    font-size: 40px;
    color:#FBA806;
    background-color: transparent;
    padding: 10px 20px;
    border: #FBA806 3px solid;
    text-shadow: 0 0 8px #FBA806;
    box-shadow: 0 0 8px #FBA806;
    margin-top:calc(var(calc(1vw + 1vh)) * 4);
    margin-left:calc(var(calc(1vw + 1vh)) * 8);
    border-radius:0 160px 0 160px;
    margin-bottom: 40px;
}
<<<<<<< HEAD
#button{
    width: 3%;
    height: 10%;
}
#autorization{
=======
.autorization{
>>>>>>> 9f2a19dc039a2f1192acff9e63760d64e6f14766
    font-size: 40px;
}
.isremember{
    width: 21px;
height: 20px;
flex-shrink: 0;
border: 3px solid #000;
background: #D9D9D9;
margin-bottom: 20px;
}
.enter{
    width: 294px;
height: 64px;
flex-shrink: 0;
    text-transform: uppercase;
    font-size: 40px;
    color:#00bb03;
    background-color: transparent;
    padding: 10px 20px;
    border: #00bb03 3px solid;
    text-shadow: 0 0 8px #00bb03;
    box-shadow: 0 0 8px #00bb03;
    margin-top:calc(var(calc(1vw + 1vh)) * 4);
    margin-left:calc(var(calc(1vw + 1vh)) * 8);
    border-radius:0 160px 0 160px;
    margin-bottom: 40px;
}
<<<<<<< HEAD
.imaaa{
    margin-top: calc(var(--index) * 5);
    align-items: left;
    justify-content: left;
    height: 100px;
}
#a1:hover{
    font-size: 24px;
}

.recipepage{
    align-items: left;

}
.search{
    width: 1450px;
    height: 40px;
=======
.a1:hover{
    font-size: 24px;
}
.div{
    text-align: center;
>>>>>>> 9f2a19dc039a2f1192acff9e63760d64e6f14766
}